* {
    box-sizing: border-box;
    max-width: 100%;
}
body{
    margin: 0px;  
}
.navBar {
    max-width: 100%;
    height: 125px;
    margin: 0;
    padding-top: 60px; 
    margin-top:-17px;
    background-color: rgb(219, 138, 210);
    position: relative;
}
#name {
    float: left;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    height: 90x;
    position: absolute;
    top: 40%;
}
.navTools {
    float: right;
    width: 50%;
    display: block;
}
.navTools li {
    display: inline-block;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
    padding: 5px 30px;
}
.navTools li:hover {
    background-color: rgb(180, 113, 172);
}
/*created class to get rid of bookmark underline and color*/
.navNames {
    text-decoration: none;
    color:white;
}
.box {
    max-width: 90%;
    height: 300px;
    position: relative;
    border:solid rgb(219, 138, 210);
    border-width: 2px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 4px 4px 8px 4px rgb(130, 127, 129);
}
.menu {
    position:absolute;
    width: 30%;
    height: 296px;
    background-color: white;
    padding-top: 125px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color:rgb(219, 138, 210);
    text-align: center;
}
.content {
    width: 70%;
    height:296px;
    padding: 10px 20px;
    background-color:rgb(219, 138, 210);
    float: right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
#contentResume {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#resumeImg {
    height: 350px;
    width: auto;
}
.bottomBox {
    width:85%;
    padding:20px;
    text-align: center;
    margin: auto;
    height: 700px;
}
.box1 {
    width:50%;
    height: 550px;
    padding: 10px;
    text-align: center;
    float: left; 
    margin: 10px;
    box-shadow: 4px 4px 8px 4px rgb(130, 127, 129);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:rgb(219, 138, 210);
}
#resumeText {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}
.box2 {
    width: 35%;
    height: 550px;
    float: right;
    text-align: center;
    box-shadow: 4px 4px 8px 4px rgb(130, 127, 129);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:rgb(219, 138, 210);
    margin: 10px;
}
img {
    height:300px;
    object-fit: cover;
}
/*icon styling*/
.fa-brands {
    text-decoration: none;
    font-size: 22px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    margin: 5px 2px;
    color: white;
}
.fa-regular {
    text-decoration: none;
    font-size: 22px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    margin: 5px 2px;
    color: white;
}
.fa-brands:hover {
    opacity: 0.7;
}
.fa-regular:hover {
    opacity: 0.7;
}